<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>defaultphoto</string>
			<key>title</key>
			<string>用户名</string>
			<key>navTitle</key>
			<string>个人信息</string>
			<key>subTitle</key>
			<string>公司名</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>className</key>
			<string>ProfileDetailViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>my_icon_gpsstate</string>
			<key>title</key>
			<string>GPS状态查看</string>
			<key>navTitle</key>
			<string>GPS状态</string>
			<key>subTitle</key>
			<string></string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>className</key>
			<string>ProfileGPSStateViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>my_icon_phone</string>
			<key>title</key>
			<string>手机使用情况</string>
			<key>navTitle</key>
			<string>手机使用情况</string>
			<key>subTitle</key>
			<string></string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>className</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>my_icon_setting</string>
			<key>title</key>
			<string>系统设置</string>
			<key>navTitle</key>
			<string>系统设置</string>
			<key>subTitle</key>
			<string></string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>className</key>
			<string>ProfileSystemSettingsViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>my_icon_aboutus</string>
			<key>title</key>
			<string>关于</string>
			<key>navTitle</key>
			<string>关于</string>
			<key>subTitle</key>
			<string></string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>className</key>
			<string>UIViewController</string>
		</dict>
	</array>
</array>
</plist>
