<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>defaultphoto</string>
			<key>title</key>
			<string>头像</string>
			<key>subTitle</key>
			<string>公司名</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>用户id</string>
			<key>subTitle</key>
			<string>2</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>登录名</string>
			<key>subTitle</key>
			<string>admin</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>真实姓名</string>
			<key>subTitle</key>
			<string>系统管理员</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>公司名称</string>
			<key>subTitle</key>
			<string>吉首城市供水总公司</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>部分编号</string>
			<key>subTitle</key>
			<string>1-1</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>组织机构</string>
			<key>subTitle</key>
			<string>吉首城市供水总公司</string>
			<key>accessoryType</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
